<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO</title>
    <style>
    [v-cloak] > * { display:none }
    [v-cloak]::before { content: "loading..." }
    </style>
    <script src="/static/js/jquery-v3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/socket.io-v2.3.0.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1>Flask-SocketIO</h1>
        {{ tasks }}
        <form
            action='#'
            method='post'
            @submit.prevent="send()"
        >
            <input v-model="message" type="text">
            <input type="submit" value="Send">
        </form>

        {{ message }}

        <a href="#" v-on:click="disconnect">Disconnect</a>
    </div>
</body>
</html>
    <script>
    var app = new Vue({
    el: '#app',
        data: function() {
            return {
                socket: null,
                tasks: [],
                message: 'Mensagem',
            }
        },
        created: function() {
            let self = this;
            let namespace = '/test';
            this.socket = io(namespace);

            this.socket.on('connect', function() {
                // socket.emit('my_event', {data: 'I\'m connected!'});
            });
            
            this.socket.on('my_response', function(msg, cb) {
                //$('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                self.tasks = JSON.parse(msg.data);
                console.log(self.tasks);
                if (cb) {
                    cb();
                }
            });
        },
        methods: {
            send () {
                this.socket.emit('my_event', {data: this.message});
                return false;
            },
            disconnect () {
                this.socket.emit('disconnect_request');
                return false;
            }
        }
    })
</script>
